
@model Club

<div class="container">
    <h1 class="fs-2 align-content-center text-white-50">
        @Model.Nome
    </h1>

    <div class="row">

        <div class="col-md-8">
            <img class=" rounded border border-primary" src="@Model.Imagem" alt="">
        </div>
        
        <div class="row-cols-1">
            <h3 class="fs-3 text-white-50">Local:</h3>
            <ul>
                <li class="text-white-50">Bairro:@Model.Endereco.Bairro</li>
                <li class="text-white-50">Cidade:@Model.Endereco.Cidade</li>
                <li class="text-white-50">Estado:@Model.Endereco.Estado</li>
                <li class="text-white-50">@Model.TamanhoDoClub</li>
            </ul>
        </div>
        
        <div class="col-md-7">
            <p class="text-white-50 fs-3">Descrição:</p>
            <div class="col-md-6">
                <p class="text-white">@Model.Descricao</p>
            </div>
        </div>
    </div>
</div>

