@model PasseiosComCaes.ViewModels.RegistroViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-xxl">
    <div class="d-flex flex-column  align-items-center">
        <div class="col-12 col-md-6 col-lg-5">
            <h1 class="display-3 text-color-green">Procure grupos de passeios</h1>
            <span class="lead text-color-green">
                Encontre e faça novas amizades para voce e seus pet com o PassseioAuAu.
            </span>
        </div>
    </div>
</div>
